.SchedulingAdm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.SchedulingAdm .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
    padding-top: 80px;
}
.SchedulingAdm .aside h3 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.SchedulingAdm .informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SchedulingAdm .informations .SchedulingProperty {
    width: 90%;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--BorderHover);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.SchedulingAdm .informations .SchedulingProperty h2 {
        margin-bottom: 5px;
        font-weight: bold;
        text-align: center;
        color: var(--Primary);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
    }

    .SchedulingAdm .informations .SchedulingProperty h2 svg {
        margin-right: 5px;
      }

.SchedulingAdm .informations .SchedulingProperty .textDataHours {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    }
.SchedulingAdm .informations .SchedulingProperty .textDataHours h5 {
        margin: 5px;
        font-weight: bold;
        text-align: left;
        color: var(--Paragraph);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .SchedulingAdm .informations .SchedulingProperty .textDataHours h5 svg {
        margin-right: 5px;
      }

.SchedulingAdm .informations .SchedulingProperty .dataInfos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
    background-color: var(--Gray);
    border-radius: 6px;
    padding: 5px;
    }
.SchedulingAdm .informations .SchedulingProperty .dataInfos .infoUnicScheduling p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--White);
    margin: 3px 8px;
    text-align:left;
    font-weight: 700;
    }


.SchedulingAdm .informations .SchedulingProperty h4 {
        margin-top: 15px;
        font-weight: bold;
        text-align: center;
        color: var(--Description);
    }
.SchedulingAdm .informations .SchedulingProperty .listPropertiesScheduling {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    }


.SchedulingAdm .informations .SchedulingProperty .property{
    border-radius: 10px;
    background-color: var(--BorderInput);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px;
}
.SchedulingAdm .informations .SchedulingProperty .property .image{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;    
}
.SchedulingAdm .informations .SchedulingProperty .property .image img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;    
}


.SchedulingAdm .informations .SchedulingProperty .textProperty{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    text-align:left;
}
.SchedulingAdm .informations .SchedulingProperty .textProperty h3 {
    color: var(--Primary);
    font-weight: 900;
    margin: 0 10px;
    text-align:left;
  }

  .SchedulingAdm .informations .SchedulingProperty .textProperty h5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--Paragraph);
    margin: 3px 8px;
    text-align:left;
    font-weight: 700;
  }

  .SchedulingAdm .informations .SchedulingProperty .textProperty h6 {
    color: var(--Gray);
    margin: 5px 10px 0 10px;
    text-align:left;
    font-weight: 700;
  }

@media (max-width: 700px) {
    .SchedulingAdm .informations {
        padding: 0 10px 100px 10px;
    }
    .SchedulingAdm .aside {
        padding-left: 0px;
    }

    @media (max-width: 600px) {

        .SchedulingAdm .informations .SchedulingProperty {
            width: 100%;
            padding: 10px;
            margin: 5px;
        }

        .SchedulingAdm .informations .SchedulingProperty .textDataHours {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 10px;
            }

            @media (max-width: 550px) {
                .SchedulingAdm .informations .SchedulingProperty .property{
                    width: 100%;
                    border-radius: 10px;
                    background-color: var(--BorderInput);
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    margin: 10px 0;
                }
                .SchedulingAdm .informations .SchedulingProperty .property .image{
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 70px;
                    object-fit: cover;    
                }
                .SchedulingAdm .informations .SchedulingProperty .property .image img{
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 70px;
                    object-fit: cover;    
                }
            }
    }
    
    }
