
.SearchProperty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -80px;
    z-index: 10;
    position: absolute;
}
.SearchProperty .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 950px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--White);
    padding:7px;
}
.SearchProperty .search h3 {
    display: none;
}
.SearchProperty .search .primary {
    width: 100%;
    border-radius: 6px 0 0 6px;
}
.SearchProperty .search input {
    width: 100%;
    background-color: var(--White);
    color: var(--Paragraph);
    padding: 10px;
    font-weight: 700;
    border:none;
    border-right: 2px solid var(--Border);
    height: 40px;
}
.SearchProperty .search select {
    width: 100%;
    background-color: var(--White);
    color: var(--Paragraph);
    padding: 10px;
    font-weight: 700;
    border:none;
    border-right: 2px solid var(--Border);
    height: 40px;
}

.SearchProperty .search input::placeholder {
    color: var(--Gray);
    font-weight: 700;
}
.SearchProperty .search button {
    padding: 10px 40px;
    border-radius: 0 6px 6px 0;
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 500;
    border: none;
    height: 40px;
}

.SearchProperty .selectButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.SearchProperty .selectButtons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 15px 30px;
    Background-color: rgba(0,0,0,0.6);
    color: var(--White);
    font-weight: 500;
    border: none;
    margin: 5px;
    border-radius: 25px;
}
.SearchProperty .selectButtons button:hover {
    background-color: var(--Primary);
}
.SearchProperty .selectButtons .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 15px 30px;
    Background-color: var(--Primary);
    color: var(--White);
    font-weight: 500;
    border: none;
    margin: 5px;
    border-radius: 25px;
}

.SearchProperty .textLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
}

.SearchProperty .textLocation h4 {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--Gray);
}

.SearchProperty .textLocation button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    Background-color: rgba(0,0,0,0.6);
    color: var(--White);
    font-weight: 500;
    border: none;
    margin: 5px;
    border-radius: 25px;
}



.SearchProperty .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
}
.SearchProperty .icons .unic {
    display: flex;
    flex-direction: row;
    align-items:  flex-start;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgba(99,99,99, 0.5);
    color: var(--White);
    cursor: pointer;
}

.SearchProperty .icons .unic svg {
    margin-right: 5px;
}
.SearchProperty .icons .unic:hover {
    background-color: rgba(237,50,55, 0.9);
}


@media (max-width: 1200px) {
    .SearchProperty .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }

    @media (max-width: 1000px) {
        .SearchProperty .search {
            width: 90%;
            border-radius: 6px;
        }

    @media (max-width: 900px) {
        .SearchProperty .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 90%;
            border-radius: 6px;
        }
    
        @media (max-width: 750px) {   

            .SearchProperty {
                margin-top: 20px;
            }
          
            .SearchProperty .search {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: fle-start;
                width: 70%;
                height: 100%;
                border: none;
                background: none;
                box-shadow: none;
            }

            .SearchProperty .search h3 {
                display:block;
                font-weight: bold;
                color: var(--White);
                margin: 10px;
            }
            .SearchProperty .search .primary {
                width: 100%;
                height: 40px;
                border: 1px solid var(--White);
                border: 1px solid var(--Border);

            }
            .SearchProperty .search input {
                width: 100%;
                border: 1px solid var(--White);
                border: 1px solid var(--Border);
            }
            
            .SearchProperty .search select {
                width: 100%;
                border: 1px solid var(--White);
                border: 1px solid var(--Border);
            }
            
            .SearchProperty .search input::placeholder {
                font-weight: 700;
            }
            .SearchProperty .search button {
                width: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 0 0 6px 6px;
            }

            .SearchProperty .selectButtons .btn {
                width: 100%;
            }
            .SearchProperty .selectButtons .btn2 {
                width: 100%;
            }

            .SearchProperty .selectButtons {
                width: 70%;
            }
            .SearchProperty .selectButtons button {
                width: 100%;
            }
            .SearchProperty .selectButtons .btn {
                width: 100%;
            }

            .SearchProperty .icons .unic {
                font-size: 14px;
            }

            @media (max-width: 550px) {
                .SearchProperty .search {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                }
                .SearchProperty .selectButtons {
                    width: 90%;
                }
            }
        }
    }
    }
}