.ListProperty {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ListProperty .itens {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.ListProperty .itens .block {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--White);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin:20px 10px;
    padding-bottom: 20px;
}

.ListProperty .itens .block .image {
    width: 100%; 
    height: 150px;
    border-radius: 6px 6px 0 0;
}
.ListProperty .itens .block .image img {
    width: 100%; 
    height: 150px;
    border-radius: 6px 6px 0 0;
}


.ListProperty .itens .block .featured {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: var(--Primary);
border-radius: 20px;
position: absolute;
margin-top: -15px;
margin-left: 10px;
padding: 10px 40px;
}

.ListProperty .itens .block .featured p {
color: var(--White);
font-weight: 700;
}

.ListProperty .itens .block .status {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: var(--Secondary);
border-radius: 6px;
position: absolute;
margin-top: 110px;
margin-left: 10px;
padding: 10px 20px;
}

.ListProperty .itens .block .status p {
color: var(--White);
font-weight: 700;
}

.ListProperty .itens .block .heart {
position: absolute;
margin-top: 115px;
margin-left: 215px;
}

.ListProperty .itens .block .heart svg {
color: var(--White);
font-size: 24px;
cursor: pointer;
}
.ListProperty .itens .block .heart svg:hover {
color: var(--Primary);
}
.ListProperty .itens .block .heart2 {
position: absolute;
margin-top: 115px;
margin-left: 215px;
}

.ListProperty .itens .block .heart2 svg {
color: var(--Primary);
font-size: 24px;
cursor: pointer;
}
.ListProperty .itens .block .heart svg:hover {
color: var(--Primary);
}



.ListProperty .itens .block .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.ListProperty .itens .block .text h2 {
    color: var(--Primary);
    font-weight: 700;
    margin: 20px 10px 5px 10px;
}
.ListProperty .itens .block .text h3 {
    color: var(--Primary);
    font-weight: 700;
    margin: 20px 10px 5px 10px;
}
.ListProperty .itens .block .text h4 {
    color: var(--Gray);
    margin: 0 10px;
}
.ListProperty .itens .block .text h5 {
    color: var(--Gray);
    margin: 0 10px;
}
.ListProperty .itens .block .text .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
}

.ListProperty .itens .block .text .icons .iconUnic {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: var(--Gray);
}

.ListProperty .itens .block .text .icons .iconUnic p {
    color: var(--Paragraph);
    font-weight: 700;
}
.ListProperty .itens .block .text .icons .iconUnic .simbol {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 5px;
}

.ListProperty .itens .block .text .icons .iconUnic .simbol svg {
    font-size: 18px;
    margin-right: 10px;
    color: var(--Gray);
}
.ListProperty .itens .block .text .pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
}

.ListProperty .itens .block .text .pricing h5 {
    color: var(--Paragraph);
    font-weight: 700;
    margin: 5px 10px;
}
.ListProperty .itens .block .text .pricing h2 {
    color: var(--Primary);
    font-weight: 700;
    margin: 0 10px;
    font-size: 20px;
}


@media (max-width: 880px) {
    .ListProperty .itens {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        flex-wrap: wrap;
    }
    

@media (max-width: 600px) {
    .ListProperty .itens {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .ListProperty .itens .block {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--White);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        padding-bottom: 20px;
    }
}
}